.navbar {
    background-color: #a4ce95;
    height: 50px;
    padding: 10px;
    text-align: left;
  }
  .navbar a {
    margin-right: 25px;
    color: #5f5d9c;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
  }